<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
</head>

<body>
  <div th:fragment="footer">

    <div class="container">

      <footer>
        <!-- this is footer -->
        <div class="d-flex fixed-bottom flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
        <!-- Copyright -->
        <div class="text-white mb-3 mb-md-0">
          Copyright © 2022. All rights reserved.
        </div>
        <!-- Copyright -->
      </div>
        <span sec:authorize="isAuthenticated()">
          | Logged user: <span sec:authentication="name"></span> |
          Roles: <span sec:authentication="principal.authorities"></span> |
          <a th:href="@{/logout}">Sign Out</a>
        </span>

      </footer>
    </div>

  </div>
</body>

</html>