<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/header :: header-css" />
</head>

<body>

    <div th:replace="fragments/header :: header" />

    <div class="row flex-nowrap">
        <div th:replace="fragments/sidebar :: sidebar" />
        <div class="col py-3" th:object="${pokemon}">

            <a th:href="@{/admin/pokemonlist}">return to pokemon list</a>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title" th:text="*{pokemonName}">Pokemon Name </h4>
                    <h6 class="card-subtitle mb-2 text-muted">Type: [[*{type1}]],[[*{type2}]]</h6>
                    <img width="100" th:src="@{${'/assets/pokemonImages/'+ pokemon.imageName}}">
                    <p class="card-text">Abilities: [[*{ability1}]],[[*{ability2}]], Hidden Ability:
                        [[*{hiddenAbility}]]</p>
                    <label class="card-text">HP: [[*{baseHp}]]</label>
                    <label class="card-text">Attack: [[*{baseAtk}]]</label>
                    <label class="card-text">Defense: [[*{baseDef}]]</label>
                    <label class="card-text">Sp. Atk: [[*{baseSpAtk}]]</label>
                    <label class="card-text">Sp. Def: [[*{baseSpDef}]]</label>
                    <label class="card-text">Speed: [[*{baseSpeed}]]</label>

                </div>
            </div>

            <!-- Move Lists -->
            <h3>Move List</h3>
            <form th:action="@{/admin/pokemon/pokemon-details/add-move}" >
                <fieldset>
                    <!-- this tag is use for @RequestParam for the method in controller, it will bind the value of this tag-->
                    <input type="text" name="pokemonId" th:value="*{pokemonId}" class="form-control" id="id" readonly
                        hidden>
                    <select class="form-select" id="exampleSelect2" name="moveId">
                        <option th:each="m : ${moves}" th:value="${m.moveId}" th:text="${m.moveName}">---</option>
                    </select>
                    <input class="btn btn-success" type="submit" name="action" value="Level-up Moves">
                    <input class="btn btn-success" type="submit" name="action" value="TM Moves">
                    <input class="btn btn-success" type="submit" name="action" value="Egg Moves">
                </fieldset>
            </form>
            <h3>Pokemon's Move List</h3>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active keychainify-checked" data-bs-toggle="tab" href="#levelUpMoves">Level-Up
                        Moves</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link keychainify-checked" data-bs-toggle="tab" href="#tmMoves">TM Moves</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link keychainify-checked" data-bs-toggle="tab" href="#eggMoves">Egg Moves</a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade show active" id="levelUpMoves">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Move Name</th>
                                <th scope="col">Type</th>
                                <th scope="col">Category</th>
                                <th scope="col">Base Power</th>
                                <th scope="col">Accuracy</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-info"  th:each="w:${pokemonmoves}">
                                <th scope="row" th:text="${w.getMove().getMoveName()}">Info</th>
                                <td th:text="${w.getMove().getMoveType()}">Column content</td>
                                <td th:text="${w.getMove().getCategory()}">Column content</td>
                                <td th:text="${w.getMove().getBasePower()}">Column content</td>
                                <td th:text="${w.getMove().getAccuracy()}">Column content</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="tmMoves">
                    <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
                        Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four
                        loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk
                        aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore
                        aesthetic magna delectus mollit.</p>
                </div>
                <div class="tab-pane fade" id="eggMoves">
                    <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo
                        retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft
                        beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR
                        banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer" />

</body>

</html>