<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
        <style>
            #div1{
                background-color: aliceblue;
            }
            .div2{
                background-color: blue;
            }


        </style>


</head>
<body>
    <div >
        <h1>header</h1>
        <p id="div1">Lorem, asdasdipsum dolor sit amet consectetur adipisicing elit. Veniam aut expedita dolores. Molestias aspernatur facere non libero omnis, quasi distinctio consequuntur sint iste perspiciatis ab? Tempora commodi recusandae nihil dolor.</p>
    </div>
    <div class="div2">
        <h2>halu</h2>
    </div>
</body>
</html>